USE [master]
GO
/****** Object:  Database [okul]    Script Date: 20.02.2022 23:43:27 ******/
CREATE DATABASE [okul]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'okul', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\okul.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'okul_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\okul_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [okul].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [okul]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_ID] [int] NOT NULL,
	[kullanıcı_adi] [nchar](19) NULL,
	[sifre] [nchar](109) NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ders]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ders](
	[ders_ID] [int] NOT NULL,
	[ders_adi] [char](35) NULL,
	[ogretmen_ID] [int] NULL,
	[dersin_odevsayisi] [int] NULL,
 CONSTRAINT [PK_ders] PRIMARY KEY CLUSTERED 
(
	[ders_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[devamsizlik]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[devamsizlik](
	[devansizlik_ID] [int] NOT NULL,
	[ogrenci_ID] [int] NULL,
	[devamsizlik_tarihi] [date] NULL,
 CONSTRAINT [PK_devamsizlik] PRIMARY KEY CLUSTERED 
(
	[devansizlik_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[izin]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[izin](
	[izin_ID] [int] NOT NULL,
	[ogrenci_ID] [int] NULL,
	[izin_tarihi] [date] NULL,
 CONSTRAINT [PK_izin] PRIMARY KEY CLUSTERED 
(
	[izin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[not]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[not](
	[not_ID] [int] NOT NULL,
	[ders_ID] [int] NULL,
	[sinif_ID] [int] NULL,
	[ogrenci_ID] [int] NULL,
	[ogrenci_notu] [int] NULL,
 CONSTRAINT [PK_not] PRIMARY KEY CLUSTERED 
(
	[not_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[odev]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[odev](
	[odev_ID] [int] NOT NULL,
	[ders_Id] [int] NULL,
	[odev_aciklama] [text] NULL,
	[odev_baslangic] [date] NULL,
	[odev_teslim] [date] NULL,
	[ogretmen_Id] [int] NULL,
	[ogrenci_ID] [int] NULL,
 CONSTRAINT [PK_odev] PRIMARY KEY CLUSTERED 
(
	[odev_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ogrenci]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ogrenci](
	[Ogrenci_Id] [int] NOT NULL,
	[Ogrenci_adi] [nchar](30) NOT NULL,
	[Ogrenci_soyadi] [nchar](30) NOT NULL,
	[Ogrenci_alani] [nchar](20) NOT NULL,
	[Ogrenci_sinif_ID] [int] NOT NULL,
 CONSTRAINT [PK_ogrenci] PRIMARY KEY CLUSTERED 
(
	[Ogrenci_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmen]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmen](
	[Ogretmen_Id] [int] NOT NULL,
	[kullanici_adi] [text] NOT NULL,
	[Sifre] [text] NOT NULL,
 CONSTRAINT [PK_Ogretmen] PRIMARY KEY CLUSTERED 
(
	[Ogretmen_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinav]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinav](
	[sİNAV_ıd] [int] NOT NULL,
	[ders_ID] [int] NULL,
	[sinav_tarihi] [date] NULL,
 CONSTRAINT [PK_sinav] PRIMARY KEY CLUSTERED 
(
	[sİNAV_ıd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinif]    Script Date: 20.02.2022 23:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinif](
	[Sinif_Id] [int] NOT NULL,
	[Sinif_Duzeyi] [nchar](2) NULL,
	[Sinif_Subesi] [nchar](1) NULL,
	[Sinif_Mevcudu] [int] NULL,
	[ogretmen_Id] [int] NULL,
 CONSTRAINT [PK_sinif] PRIMARY KEY CLUSTERED 
(
	[Sinif_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ders]  WITH CHECK ADD  CONSTRAINT [FK_ders_Ogretmen] FOREIGN KEY([ogretmen_ID])
REFERENCES [dbo].[Ogretmen] ([Ogretmen_Id])
GO
ALTER TABLE [dbo].[ders] CHECK CONSTRAINT [FK_ders_Ogretmen]
GO
ALTER TABLE [dbo].[devamsizlik]  WITH CHECK ADD  CONSTRAINT [FK_devamsizlik_ogrenci] FOREIGN KEY([ogrenci_ID])
REFERENCES [dbo].[ogrenci] ([Ogrenci_Id])
GO
ALTER TABLE [dbo].[devamsizlik] CHECK CONSTRAINT [FK_devamsizlik_ogrenci]
GO
ALTER TABLE [dbo].[izin]  WITH CHECK ADD  CONSTRAINT [FK_izin_ogrenci] FOREIGN KEY([ogrenci_ID])
REFERENCES [dbo].[ogrenci] ([Ogrenci_Id])
GO
ALTER TABLE [dbo].[izin] CHECK CONSTRAINT [FK_izin_ogrenci]
GO
ALTER TABLE [dbo].[not]  WITH CHECK ADD  CONSTRAINT [FK_not_ders] FOREIGN KEY([ders_ID])
REFERENCES [dbo].[ders] ([ders_ID])
GO
ALTER TABLE [dbo].[not] CHECK CONSTRAINT [FK_not_ders]
GO
ALTER TABLE [dbo].[not]  WITH CHECK ADD  CONSTRAINT [FK_not_ogrenci] FOREIGN KEY([ogrenci_ID])
REFERENCES [dbo].[ogrenci] ([Ogrenci_Id])
GO
ALTER TABLE [dbo].[not] CHECK CONSTRAINT [FK_not_ogrenci]
GO
ALTER TABLE [dbo].[not]  WITH CHECK ADD  CONSTRAINT [FK_not_sinif] FOREIGN KEY([sinif_ID])
REFERENCES [dbo].[sinif] ([Sinif_Id])
GO
ALTER TABLE [dbo].[not] CHECK CONSTRAINT [FK_not_sinif]
GO
ALTER TABLE [dbo].[odev]  WITH CHECK ADD  CONSTRAINT [FK_odev_ders] FOREIGN KEY([ders_Id])
REFERENCES [dbo].[ders] ([ders_ID])
GO
ALTER TABLE [dbo].[odev] CHECK CONSTRAINT [FK_odev_ders]
GO
ALTER TABLE [dbo].[odev]  WITH CHECK ADD  CONSTRAINT [FK_odev_ogrenci] FOREIGN KEY([ogrenci_ID])
REFERENCES [dbo].[ogrenci] ([Ogrenci_Id])
GO
ALTER TABLE [dbo].[odev] CHECK CONSTRAINT [FK_odev_ogrenci]
GO
ALTER TABLE [dbo].[odev]  WITH CHECK ADD  CONSTRAINT [FK_odev_Ogretmen] FOREIGN KEY([ogretmen_Id])
REFERENCES [dbo].[Ogretmen] ([Ogretmen_Id])
GO
ALTER TABLE [dbo].[odev] CHECK CONSTRAINT [FK_odev_Ogretmen]
GO
ALTER TABLE [dbo].[ogrenci]  WITH CHECK ADD  CONSTRAINT [FK_ogrenci_sinif] FOREIGN KEY([Ogrenci_Id])
REFERENCES [dbo].[sinif] ([Sinif_Id])
GO
ALTER TABLE [dbo].[ogrenci] CHECK CONSTRAINT [FK_ogrenci_sinif]
GO
ALTER TABLE [dbo].[sinav]  WITH CHECK ADD  CONSTRAINT [FK_sinav_ders] FOREIGN KEY([ders_ID])
REFERENCES [dbo].[ders] ([ders_ID])
GO
ALTER TABLE [dbo].[sinav] CHECK CONSTRAINT [FK_sinav_ders]
GO
ALTER TABLE [dbo].[sinif]  WITH CHECK ADD  CONSTRAINT [FK_sinif_Ogretmen] FOREIGN KEY([Sinif_Id])
REFERENCES [dbo].[Ogretmen] ([Ogretmen_Id])
GO
ALTER TABLE [dbo].[sinif] CHECK CONSTRAINT [FK_sinif_Ogretmen]
GO
USE [master]
GO
